body{
    margin: 0;
}
.work img{
width: 35%;
height: 35%;
}
#div-2 img{
    width: 60%;
    height: 35%; 
}
#div-esas{
    width: 65%;
    height: 60rem;
    margin-top: 2rem;
    padding: 1rem 1rem;
}
#div-2{
        margin-top: -80%;
    margin-left: 40%;
}
#triva1{

    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-size: 22px;
    width: 20%;
    position: absolute;
    top: 55%;
left: 180px;

padding: 1rem;
}
#triva2{
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-size: 22px;
    width: 20%;
    position: absolute;
    bottom: 0%;
    
left:180px;
padding: 1rem;
}
#triva3{
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-size: 22px;
    width: 20%;
    position: absolute;
     top: 58rem;
left: 180px;
padding: 1rem;
}

#triva4{
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-size: 22px;
    width: 20%;
    position: absolute;
     top: 25rem;
     margin-left: 0.5rem;
   
padding: 1rem;

}
#triva5{
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-size: 22px;
    width: 21%;
    position: absolute;
    margin-top: -5rem;
   
padding: 1rem;

margin-left: 2px;

}
#divcontact2{
    width: 300px;
    height: 200px;
    float: right;
    margin-top: -66.5%;
    background-color: #fff;
    margin-right: .5rem;
}
#divcontact2 h2,p{
    color: #4aaaa5;
    margin: 2rem;
}
#divcontact2 img{
    width: 50px;
    height: 50px
;
margin-left:1.5rem ;
}
#footer-div3{
    width: 100%;
height: 4.5rem;
    margin: 0 auto;
    clear: both;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    margin-top: 1rem;
    margin-top: 15.9rem;
}
h2{
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    color: #4aaaa5;     
}